:root{
    --primary-color :#3570FF;
    --primary-light-color :#3570FF1A;
    --secondary-color :#F3F8FB ;
    --secondary-light-color :#F3F8FB1A ;
    --black-color :#0000009A ;
    --black-light-color :#0000005A ;
}